Dragon 2 4
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Unicorn 1 3
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX
Griffin 3 6
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Troll 2 3
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Pixie 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX
Cyclops 3 4
XXXXX
XXXXX
XXCIX
XXIXX
XXXXX
Minotaur 2 5
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX
Witch 1 2
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Werewolf 3 4
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Goblin 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX
Druid 2 3
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX
Wraith 1 2
XXXXX
XXXXX
XICIX
XXXXX
XXXXX
Harpy 3 4
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX
Imp 1 2
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX
Kraken 3 6
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Siren 2 3
XXXXX
XXXXX
XXCIX
XXIXX
XXXXX
Phoenix 2 4
XXXXX
XXXXX
XXCIX
XXIXX
XXXXX
Basilisk 3 5
XXXXX
XXXIX
XXCIX
XXXIX
XXXXX
Hydra 3 5
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Manticore 2 4
XXXXX
XXXXX
XXCIX
XXIXX
XXXXX
Chimera 3 6
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Golem 3 5
XXXXX
XXXXX
XXCIX
XXIXX
XXXXX
Medusa 2 3
XXXXX
XXXXX
XXCIX
XXIXX
XXXXX
Pegasus 1 3
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX
Gryphon 3 5
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Wyvern 2 4
XXXXX
XXXXX
XXCIX
XXIXX
XXXXX
Roc 2 3
XXXXX
XXXXX
XXCIX
XXIXX
XXXXX
Sphinx 3 6
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Griffin 3 5
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Chimera 2 4
XXXXX
XXXXX
XXCIX
XXIXX
XXXXX
Manticore 1 2
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX
Kraken 2 5
XXXXX
XXXXX
XXCIX
XXIXX
XXXXX
Leviathan 3 6
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Thunderbird 3 5
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Valkyrie 1 3
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX
Titan 3 6
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX