Valor 1 2
XXXXX
XXXIX
XXCXX
XXXXX
XXXXX
Shield 2 3
XXXIX
XIIIX
XICIX
XIIIX
XXXIX
Tempest 3 5
XXXXX
XXXXX
XICIX
XXXXX
XXXXX
Upgrade 1 1
XXXXX
XXUXX
XUCUX
XXUXX
XXXXX
Ruin 1 3
XXDXX
XDXDX
XXCXX
XDXDX
XXDXX
Enchant 2 2
XXXXX
XUIXU
XXCXX
XUIXU
XXXXX
Curse 2 2
XXXXX
XDIXD
XXCXX
XDIXD
XXXXX
Balance 3 4
XXXXX
XUDUX
XDCUX
XUDUX
XXXXX
Decay 1 2
XDXDX
XXXXX
XXCXX
XXXXX
XDXDX
Bless 1 2
XUXUX
XXXXX
XXCXX
XXXXX
XUXUX
Dual 2 3
XXXXX
XUDXX
XXCXX
XXDUX
XXXXX
Drain 2 1
XXXXX
XXDXX
XDCDX
XXDXX
XXXXX
Boost 2 1
XXXXX
XXUXX
XUCUX
XXUXX
XXXXX
Spark 1 2
XXXXX
XIXIX
XICIX
XIXIX
XXXXX
Vortex 3 4
XIIIX
IXXXI
XXCXX
IXXXI
XIIIX