Ruin 1 3
XXDXX
XDXDX
XXCXX
XDXDX
XXDXX
Shield 2 3
XXXIX
XIIIX
XICIX
XIIIX
XXXIX
Curse 1 2
XXXXX
XDIXD
XXCXX
XDIXD
XXXXX
Balance 1 4
XXXXX
XUDUX
XICUX
XUDUX
XXXXX
Decay 1 2
XDXDX
XXXXX
XXCXX
XXDXX
XDXDX
Dual 2 3
XXXXX
XUDXX
XXCXX
XXDUX
XXXXX
Valor 1 2
XXXXX
XXXIX
XXCXX
XXXXX
XXXXX
Tempest 3 5
XXXXX
XXXXX
XICIX
XXXXX
XXXXX
Upgrade 1 1
XXXXX
XUUUX
XUCUX
XUUUX
XXXXX
Bless 1 2
XXXXX
XUUUX
XXCXX
XUUUX
XXXXX
Spark 1 2
XXXXX
XIXIX
XICIX
XIXIX
XXXXX
Enchant 2 2
XXXXX
XUIXU
XXCXX
XUIXU
XXXXX
Drain 2 1
XXXXX
XXDXX
XDCDX
XXDXX
XXXXX
Boost 2 1
XXXXX
XXUXX
XUCUX
XXUXX
XXXXX
Vortex 3 4
XIIIX
IXXXI
XXCXX
IXXXI
XIIIX